<div *ngIf="!isUserLoggedIn && !isAdminLoggedIn ">
    <nz-header class="main-header" nz-row nzType="flex">
        <div style="margin-left: 10px; color: white; font-weight: bolder;" routerLink="/">
            Rathgar Together
        </div>
        <div class="nav-links">
            <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
            <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
        </div>
    </nz-header>

    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
        <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>

        </ul>
    </nz-sider>
</div>
<div *ngIf="isUserLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex">
        <div style="margin-left: 10px; color: white; font-weight: bolder;" routerLink="/">
            Rathgar Together
        </div>
        <div class="nav-links">
            <a nz-button nzType="link" routerLink="user-dashbaord" routerLinkActive="active">Dashboard</a>
            <a nz-button nzType="link" routerLink="create-hobby-group" routerLinkActive="active">Create Hobby Group</a>
            <a nz-button nzType="link" routerLink="my-hobby-groups" routerLinkActive="active">My Hobby Groups</a>
            <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
        </div>
    </nz-header>

    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
        <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="user-dashbaord" routerLinkActive="active">Dashboard</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="create-hobby-group" routerLinkActive="active">Create Hobby Group</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="my-hobby-groups" routerLinkActive="active">My Hobby Group</a>
            </li>
          
            <li nz-menu-item>
                <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
            </li>
        </ul>
    </nz-sider>
</div>
<div *ngIf="isAdminLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex">
        <div style="margin-left: 10px; color: white; font-weight: bolder;" routerLink="/"> 
            Rathgar Together
        </div>
        <div class="nav-links">
            <a nz-button nzType="link" routerLink="/admin-dashboad" routerLinkActive="active">Dashboard</a>
         
            <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
        </div>
    </nz-header>

    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
        <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/admin-dashboad" routerLinkActive="active">Dashboard</a>
            </li>
    
            <li nz-menu-item>
                <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
            </li>
        </ul>
    </nz-sider>
</div>

