.box{
    padding: 20px; 
    background-color: rgba(255, 204, 219, 0.8);
    border-radius: 10px; 
    margin-top: 20px;
}
.boxBlue{
    padding: 20px; 
    background-color: #88c1e6;
    border-radius: 10px; 
    margin-top: 20px;
}

.commentBoxPink{
    padding: 5px; 
    background-color: rgba(255, 204, 219, 0.8);
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 10px;
}
.commentBoxBlue{
    padding: 5px; 
    background-color: #88c1e6;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 10px;
}

.details{
    font-size: 7px;
}