<div class="bg" style="background-color: #F8F8F8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
               
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

                    <nz-form-item>
                        <nz-form-control nzHasFeedback nzErrorTip="The input is not title">
                            <input nz-input placeholder="Title" formControlName="title"  />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback nzErrorTip="The input is not body">
                            <input nz-input placeholder="Description" formControlName="body"  />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback nzErrorTip="The input is not date">
                            <nz-date-picker style="width: 100%;"
                                    nzShowTime
                                    nzFormat="yyyy-MM-dd HH:mm:ss"
                                    formControlName="date"
                                    ></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Create Event</button>
                </form>
            </div>
        </div>
    </nz-spin>
</div>